<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
     <link rel="stylesheet" href="../static/home.css">
</head>
<body>
      <footer>
    <div class="footer-logo">AEROVISION</div>
    <div class="footer-meta">
      <div>BUILT BY <span style="color:var(--cyan)">Uday Gandhi</span> | AEROVISION</div>
      <!-- <div>CV-MODULE v2.4.1 · AERO · CLASSIFY</div> -->
    </div>
    <div class="footer-right">
      <div style="color:var(--green)">● SYSTEM active</div>
      <div style="margin-top:4px;">ALL MODELS ACTIVE</div>
    </div>
  </footer>
</body>
</html>