<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <!-- <link rel="stylesheet" href="../static/home.css"> -->
</head>
<body>
      <nav>
    <a class="nav-logo" href="#">
      <span class="nav-title">AERO-VISION</span>
    </a>

    <div class="nav-links">
      <a href="/">HOME</a>
      <a href="/capabilities">CAPABILITIES</a>
      <a href="/about-us">ABOUT</a>
      <a href="/documents">DOCS</a>
    </div>

    <div class="nav-badge">v1.0.0</div>
  </nav>
</body>
</html>